<h1>Add your Dealership</h1>

<form action="/dealership_list" method="post">
  <div class="form-group">
    <label for="d_name">Your Dealership's name:</label>
    <input type="text" name="d_name" id="d_name" class="form-control">
  </div>
  <button type="submit" class="btn">Add Dealership</button>
</form>
